.header {
  position: absolute;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #53796f;
}

.headerLogo {
  position: absolute;
  background-color: burlywood;
  padding-right: 1rem;

  height: 200%;

  /* height: 7rem; */
  /* margin-left: -1rem; */

  float: left;
}

.menuLogo {
  position: absolute;
  height: 7rem;
}

.tabs {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  font-style: underline;
  overflow: hidden;
  text-align: center;
}

.tab {
  float: right;
  top: 50%;
  color: burlywood;
  display: inline;
  text-decoration: none;
  padding: 1em 2em;
}

.tab:hover {
  color: antiquewhite;
  cursor: pointer;
  background-color: #364d47;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
}

.menuImg {
  width: 25%;
}

.menuTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
